.imagenContainer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardContainer {
  min-height: 250px;
  width: min(100%, 400px);
  margin-left: auto;
  margin-right: auto;
}

.backgroundImage {
  width: 100%;
  height: 100%;
}
